*::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgb(22, 14, 0); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(197, 151, 67); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 207, 118); /* creates padding around scroll thumb */
}

* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: rgb(197, 151, 67) rgb(255, 207, 118); /* scroll thumb and track */
}

body,
html {
  overflow: "hidden";
  position: "fixed";
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 12px !important;
  }
}
